<a href="https://colab.research.google.com/github/youssefbourais0310/python-tut/blob/main/data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [49]:
import pandas as pd
import os

In [72]:
df = pd.read_excel('/content/drive/MyDrive/data.xlsx')
df2 = df['id,breeds'].str.split(',', expand=True)
df2.columns = ["id", "breeds"]
df2.to_csv("/content/drive/MyDrive/labels.csv")
df2

               id                   breeds
0     1355868_out           Lactuca_virosa
1     1355920_out    Pelargonium_capitatum
2      1355932_in   Pelargonium_graveolens
3     1355936_out          Cirsium_arvense
4     1355937_out          Cirsium_vulgare
...           ...                      ...
1076  1712365_out    Schefflera_morototoni
1077  1713198_out     Bourreria_andrieuxii
1078  1713199_out  Bourreria_costaricensis
1079  1717570_out         Alibertia_edulis
1080  1718287_out      Acacia_senegalensis

[1081 rows x 2 columns]

In [77]:
df4 = pd.read_csv("/content/drive/MyDrive/LABELS.csv")
df4

               id                   breeds
0     1355868_out           Lactuca_virosa
1     1355920_out    Pelargonium_capitatum
2      1355932_in   Pelargonium_graveolens
3     1355936_out          Cirsium_arvense
4     1355937_out          Cirsium_vulgare
...           ...                      ...
1076  1712365_out    Schefflera_morototoni
1077  1713198_out     Bourreria_andrieuxii
1078  1713199_out  Bourreria_costaricensis
1079  1717570_out         Alibertia_edulis
1080  1718287_out      Acacia_senegalensis

[1081 rows x 2 columns]